* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #fbf6ee;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar nav a {
  margin: 0 18px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.download {
  background: #ffbe55;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: 600;
}

/* HERO */
.hero {
  height: calc(100vh - 80px);
  padding: 0 60px;
  display: flex;
  align-items: center;
}

/* LEFT */
.hero-text {
  width: 45%;
}

.hero-text h1 {
  font-size: 68px;
  line-height: 1.05;
  margin-bottom: 20px;
}

.hero-text p {
  max-width: 420px;
  color: #444;
  margin-bottom: 30px;
}

.cta {
  width: 100%;
  max-width: 520px;
  background: #ffbe55;
  padding: 20px 28px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* RIGHT */
.hero-visual {
  width: 55%;
  height: 100%;
  position: relative;
}

/* circles */
.circle {
  position: absolute;
  border-radius: 50%;
  background: #ffbe55;
  opacity: 0.9;
}

.c1 { width: 220px; height: 220px; top: 90px; left: 80px; }
.c2 { width: 260px; height: 260px; top: 40px; right: 80px; }

/* icons */
.icon {
  position: absolute;
  background: white;
  padding: 14px;
  border-radius: 18px;
  box-shadow: 0 15px 30px rgba(0,0,0,.12);
}

.i1 { top: 70px; left: 40px; }
.i2 { top: 20px; right: 160px; }
.i3 { bottom: 100px; right: 60px; }

/* phones */
.phone {
  position: absolute;
  width: 200px;
  /* height: 280px; */
  background: #fff;
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 25px 45px rgba(0,0,0,.15);
}

.p1 { bottom: 60px; left: 120px; }
.p2 { bottom: 20px; left: 300px; }

.phone h4 {
  font-size: 14px;
}

.phone h4 span {
  font-weight: 400;
  color: #777;
}

.small {
  font-size: 12px;
  color: #999;
  margin: 6px 0 12px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row b {
  font-size: 20px;
}

.row span {
  font-size: 11px;
  color: #777;
}

.bar {
  height: 6px;
  background: #eee;
  border-radius: 10px;
  margin: 14px 0;
}

.bar span {
  width: 60%;
  height: 100%;
  display: block;
  background: #ffbe55;
  border-radius: 10px;
}

.status {
  font-size: 12px;
}

.active {
  color: #2ecc71;
}

/* RESPONSIVE */
@media (max-width: 768px) {
body{
  height: 100vh;
  width: 100%;
}

  .navbar {
  height: 30%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
    margin-bottom: 20px;
      font-weight: 800;
  font-size: 30px;
}
.navbar nav a {
  margin: 0 8px;
  text-decoration: none;
  color: #000;
 
}
.download {
  background: #ffbe55;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
    font-weight: 800;
  font-size: 30px;
}

  .hero {
    flex-direction: column;
  }

  .hero-text,
  .hero-visual {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 100px;
  }
   .hero-text p {
    font-size: 40px;
  }

.c1 { width: 300px; height:300px; top: 80px; left: 70px; }
.c2 { width: 420px; height: 420px; top: 150px; right: 20px; }

.phone {
  position: absolute;
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 25px 45px rgba(0,0,0,.15);
}

.p1 { top: 250px; left: 15px; }
.p2 { top: 320px; left: 480px; }

}
